;; OPTIONAL - for running the app via babashka tasks instead of manually
{:tasks 
 {:requires ([babashka.fs :as fs])
  npm-inst (when-not (fs/directory? "node_modules")
             (println "INFO: node_modules/ not found, running install...")
             (shell "npm install"))
  run {:depends [npm-inst], :task (shell "npx shadow-cljs watch main")}
  build {:depends [npm-inst], :task (shell "npx shadow-cljs release main")}}}
