{:paths ["src" "resources"],
 :deps
 {org.clojure/clojure {:mvn/version "1.12.0-alpha4"},
  com.fulcrologic/fulcro {:mvn/version "3.6.10"},
  com.wsscode/pathom3     {:mvn/version "2023.08.22-alpha"},
  holyjak/fulcro-troubleshooting
  {;:git/tag "latest", ; run `clojure -X:deps git-resolve-tags` to insert the correct :sha
   :git/sha "c7a458f1ba3ae1f7c06e66d6d588be681c9c21c3",
   :git/url "https://github.com/holyjak/fulcro-troubleshooting"}},
 :aliases
 {:dev
  {:extra-deps
   {thheller/shadow-cljs {:mvn/version "2.25.7"},
    binaryage/devtools {:mvn/version "1.0.7"},
    cider/cider-nrepl {:mvn/version "0.38.1"},
    cider/piggieback {:mvn/version "0.5.3"}
    com.wsscode/pathom-viz-connector {:mvn/version "2022.02.14"}}}}}
